:root {
    --primary: #b6895b;
    --bg: #ffffff;
}
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: #fff;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #513c28;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}
.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: white;
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#furniture-menu {
    display: none;
}
.profile-container {
    position: relative;
    display: inline-block;
}

.user-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
}

.dropdown-item {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
/* search */ 
.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.navbar .search-form.active {
    transform: scaleY(1);
}
.navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    color: #010101;
    padding: 1rem;
}
.navbar .search-form label {
    cursor: pointer;
    font-size: 1rem;
    margin-right: 1.5rem;
    color: #010101;
}
/* search */

/* login pop */
/* hero section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../img/bg-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    background: linear-gradient(
        0deg,
        rgb(255, 255, 255, 1) 8%,
        rgba(255, 255, 255, 0) 50%
    );
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 4.3em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: var(--primary);
    font-style: italic;
    text-shadow: rgba(1, 1, 3, 1);
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    mix-blend-mode: difference;
}

/* .hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
} */

/* paketdekorasi */

.paketdekorasi {
    padding: 8rem 7% 1.4rem;
}

.paketdekorasi h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    color: rgb(33, 29, 29);
}

.paketdekorasi h2 span {
    color: var(--primary);
}

.paketdekorasi h2 {
    margin-bottom: 1.5rem;
}

.paketdekorasi .button-3 {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: absolute;
    margin-left: -50px;
    left: 50%;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.paketdekorasi .button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.paketdekorasi .button-3:hover {
    background-color: #2c974b;
}

.paketdekorasi .button-3:focus {
    box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
    outline: none;
}

.paketdekorasi .button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, 0.1);
    color: rgba(255, 255, 255, 0.8);
    cursor: default;
}

.paketdekorasi .button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.paketdekorasi .button-3 a {
    color: #fff;
    margin: 0 0.5rem;
    bottom: 0 10rem;
}

.paketdekorasi p {
    color: black;
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 300;
    line-height: 1.6;
}

.paketdekorasi .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.btn {
    background-color: #2ea44f;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    position: absolute;
    margin-top: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease-in-out;
}
.btn-primary {
    background-color: blue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    position: absolute;
    margin-top: 8px;
    left: 145px;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease-in-out;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #1b6731;
}

/* Dekorasi */
.decor {
    padding: 8rem 7% 1.4rem;
}

.decor h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    color: rgb(33, 29, 29);
}

.decor h2 span {
    color: var(--primary);
}

/* Dekorasi */

/* Galeri */
.galeri {
    padding: 8rem 7% 1.4rem;
}

.galeri h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    color: rgb(33, 29, 29);
}

.galeri h2 span {
    color: var(--primary);
}

/* Tabel */
.table-container {
    margin: 20px 100px 150px 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px 20px;
    box-shadow: 2px 3px 5px rgba(41, 34, 75, 0.544);
    overflow: hidden;
}
.table {
    color: rgb(34, 31, 27);
    padding: 20px;
    margin: 10px 30px 10px 30px;
    flex-grow: 1;
    width: 95%;
    border-collapse: collapse;
    border-radius: 15px;
    border: 0.5px;
}

.table th {
    font-size: 18px;
    padding: 8px;
    text-align: left;
    border: 1px solid #2c241b;
}
.table td {
    font-size: 15px;
    padding: 8px;
    text-align: left;
}
.table th {
    background-color: #523d1c;
    color: #fff;
}
.table tr:nth-child(even) {
    background-color: rgba(206, 210, 82, 0.1);
}
.table tr:hover {
    background-color: rgba(214, 128, 53, 0.3);
    border: 1px dashed #1b262c;
}
.aksi-btn {
    background-color: #1814f4;
    border: none;
    color: white;
    padding: 6px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.aksi-btn1 {
    background-color: #d92c2c;
    border: none;
    color: white;
    padding: 6px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.aksi-btn2 {
    background-color: #3c9af7;
    border: none;
    color: white;
    padding: 6px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.table img {
    width: auto;
    height: 100px;
    margin-left: 2%;
    padding: 2%;
}


.notifikasi {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: left;
}

.notifikasi.success {
    background-color: #4CAF50;
    color: white;
}

.notifikasi.error {
    background-color: #f44336;
    color: white;
}

/* Tabel */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.pagination-item, .pagination-numbers {
    display: flex;
}

.pagination-item {
    margin: 0 5px;
}

.pagination-link, .pagination-disabled {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    color: #6aae37;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-link:hover {
    background-color: #515310;
    color: #fff;
}

.pagination-disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: not-allowed;
}

.pagination-numbers .pagination-number {
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
    color: #6aae37;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-numbers .pagination-number:hover {
    background-color: #515310;
    color: #fff;
}

.pagination-numbers .pagination-number.active {
    background-color: #6aae37;
    color: #fff;
    border-color: #6aae37;
    cursor: default;
}

.filter-container {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 2rem;
    margin-left: auto;
}

.filter-section {
    border-radius: 8px; 
    padding: 1rem; 
    background-color: #f9f9f9; 
    display: inline-flex;
    align-items: center; 
}

.filter-section label {
    margin-right: 1rem;
    font-size: 1rem;
    color: #010101;
}

.filter-section input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.filter-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.filter-button:hover {
    background-color: #0056b3;
}
/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}
/* Tablet*/
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
    #furniture-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }
    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: black;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }
}

/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}
