:root {
    --primary: #5d571e;
    --bg: #ffffff;
}

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #513c28;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}
.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: white;
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#furniture-menu {
    display: none;
}

/* search */
.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.navbar .search-form.active {
    transform: scaleY(1);
}
.navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    color: #010101;
    padding: 1rem;
}
.navbar .search-form label {
    cursor: pointer;
    font-size: 1rem;
    margin-right: 1.5rem;
    color: #010101;
}
/* search */

/* Shopping cart */
#shopping-cart-button {
    position: relative;
}

.red-cart {
    position: relative;
    display: inline-block;
    padding: 1px 5px;
    background-color: rgb(192, 17, 17);
    border-radius: 8px;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    right: -11px;
}

#shopping-cart-button .quantity-badge {
    display: inline-block;
    padding: 1px 5px;
    background-color: red;
    border-radius: 8px;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    right: -10px;
}

.shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%;
    height: 100vh;
    width: 100%;
    padding: 0 1.5rem;
    background-color: #e6e6e6;
    color: black;
    transition: 0.3s;
}

.shopping-cart.active {
    right: 0;
}

.shopping-cart .cart-item {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #666;
}

.shopping-cart img {
    height: 4rem;
    border-radius: 50%;
}

.shopping-cart h3 {
    font-size: 1rem;
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
    display: inline-block;
    padding: 2px 5px;
    cursor: pointer;
    margin: 0 8px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

.shopping-cart h4 {
    font-size: 1.6rem;
    margin-top: -1;
    text-align: center;
}
/* Shopping cart */

/* dropdown */

.profile-container {
    position: relative;
    display: inline-block;
}
.user-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
}

.dropdown-item {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}


.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-top: 25%;
}

.product-container {
    width: 45%;
}

.product-container h2 {
    margin-bottom: 20px;
}

.product-image {
    width: 50px;
    height: auto;
    margin-left: 10px;
}

.product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card .product-title {
    font-weight: bold;
}

span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.remove-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #e74c3c;
}

.form-container {
    width: 45%;
}

.wrapper {
    width: 100%;
}

.wrapper h2 {
    margin-bottom: 20px;
}

.input_group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input_box {
    position: relative;
    width: 100%;
}

.input_box input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input_box i.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.input_box button {
    width: 100%;
    padding: 10px;
    background-color: #27ae60;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.input_box button:hover {
    background-color: #219150;
}

/* Styling for the alert box */
.alert {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 20px;
    border-radius: 5px;
    margin-top: 100px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
    width: 50%;
    text-align: center;
}

/* List styling within the alert box */
.alert ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* List item styling within the alert box */
.alert ul li {
    margin: 5px 0;
}

/* Close button styling for the alert box */
.alert .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #721c24;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #222;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Change this value to adjust the width */
    color: white;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .modal-footer input {
    margin-right: 10px;
  }
  
  label span{
   color: red;
  }
  
  #acceptTerms, #declineTerms {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
  }
  
  #declineTerms {
    background-color: #333;
  }
  
  #acceptTerms:hover, #declineTerms:hover {
    opacity: 0.8;
  }